[build-system]
requires = [
  "setuptools",
  "wheel",
]
build-backend = "setuptools.build_meta"

[project]
name = "chronica"
authors = [
  {name="Sogang University"},
]
description = "A data-imbalance-aware scheduler for distributed deep learning"
readme = "README.rst"
requires-python = ">=3.8"
keywords = ["distributed deep learning", "straggler", "scheduler", "data imbalance"]
license = {file = "LICENSE"}
classifiers = [
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "License :: OSI Approved :: Apache Software License",
  "Operating System :: OS Independent",
]
dependencies = [
  "grpcio",
  "numpy",
  "protobuf",
  "scikit-learn",
  "torch",
]
dynamic = ["version"]

[project.urls]
homepage = "https://github.com/9rum/chronica"

[tool.setuptools]
package-dir = {"" = "python"}

[tool.setuptools.dynamic]
version = {attr = "chronica.__version__"}

[tool.black]
line-length = 120
target-version = ["py38", "py39", "py310"]
